<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">

<title>${title}</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="/css/style.css">
<link rel="alternate" type="application/rss+xml" title="Message Feed" href="/rssFeed" />
</head>
<body>
    <header>
        <h1>${title}<a href="/rssFeed"><img class="feedLink" src="/images/feed-icon-14x14.png" /></a></h1>
    </header>
    <div id="statusLed">
      <div class="ok" title="${statusOk}"></div>
      <div class="error" title="${statusError}"></div>
    </div>
    
    <div id="postMessage" class="closed">
        <a href="#" class="anker" title="${clickToPost}">${ankerPost1}</a><span class="ankerOpen hideIfClosed">${ankerPost2}</span>
        <span class="error hideIfClosed"></span>
        <a href="#" class="closeButton hideIfClosed" title="${close}">X</a>
        <div class="form hideIfClosed">
          <textarea id="newMessage" class="hideIfClosed" placeholder="${messagePlaceholder}"></textarea>
          <button id="cancelMessage" class="hideIfClosed btn">${cancel}</button>
          <button id="sendMessage" class="hideIfClosed btn btn-success">${send}</button>
        </div>
    </div>

    <div role="main" class="container">
      <div class="wrapper shadow">
		    <ul id="chatList" class="">
		    </ul>
      </div>
    </div>
    <footer> <a href="https://github.com/smilix/xmppMB">${appName} v${appVersion}</a> - by Holger </footer>
    
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/script.js"> </script>
</body>
</html>
